<h2>メソッド登録</h2>

<form action="/methods" method="POST">
    <label for="name">メソッド名</label>
    <input type="text" id="name" name="name">

    <br><br>

    <label for="description">説明</label>
    <textarea id="description" name="description"></textarea>

    <br><br>

    <label for="category">カテゴリー</label>
    <input type="text" id="category" name="category">

    <br><br>

    <label for="memo">メモ</label>
    <textarea id="memo" name="memo"></textarea>

    <br><br>

    <button type="submit">登録</button>

</form>